Syntax:

```python
{
    key: value
}

```

```python

for item in range(5):
    print(item)
```

In [3]:
d = {}

In [4]:
type(d)

dict

In [5]:
d = dict() # empty dictionary

In [6]:
type(d)

dict

In [7]:
{
    1.2:" one point two"
}

{1.2: ' one point two'}

In [8]:
# list, tuple and set are not allowed 

{
    [1,2]: 40
}

TypeError: unhashable type: 'list'

In [17]:
{
    'name': 'shraddha',
    'age' :'25'
}

{'name': 'shraddha', 'age': '25'}

# assesing dictionary items and add key value pair in dictionary

In [13]:
info = dict()

In [14]:
info

{}

In [15]:
info['name']='Shraddha Joshi' # add key value pair in dictionary

In [16]:
info

{'name': 'Shraddha Joshi'}

In [18]:
info.update({'teaches':['Python','Data Science','Html']})

In [19]:
info

{'name': 'Shraddha Joshi', 'teaches': ['Python', 'Data Science', 'Html']}

In [20]:
info['teaches']

['Python', 'Data Science', 'Html']

In [23]:
info.update({'name': "SHRADDHA JOSHI"})

In [24]:
info

{'name': 'SHRADDHA JOSHI', 'teaches': ['Python', 'Data Science', 'Html']}

In [25]:
info['teaches'] # access value of key teaches

['Python', 'Data Science', 'Html']

In [26]:
info.get('teaches') #access value

['Python', 'Data Science', 'Html']

In [41]:
broadway= {
    'Location': 'Tinkune'
}

In [42]:
broadway.update({'class': 'Python'})

In [45]:
broadway.get('Location')

'Tinkune'

In [46]:
broadway

{'Location': 'Tinkune', 'class': 'Python'}

.keys() and .values() method in dictionary

In [37]:
country={
    'Nepal':'Kathmandu',
    'India':'New DElhi',
    'Bangladesh':'Dhaka',
    'Bhutan': 'Thimpu'
}

In [38]:
country

{'Nepal': 'Kathmandu',
 'India': 'New DElhi',
 'Bangladesh': 'Dhaka',
 'Bhutan': 'Thimpu'}

In [39]:
country.keys()

dict_keys(['Nepal', 'India', 'Bangladesh', 'Bhutan'])

In [40]:
country.values()

dict_values(['Kathmandu', 'New DElhi', 'Dhaka', 'Thimpu'])

In [47]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New DElhi'), ('Bangladesh', 'Dhaka'), ('Bhutan', 'Thimpu')])

In [48]:
list(country.items())

[('Nepal', 'Kathmandu'),
 ('India', 'New DElhi'),
 ('Bangladesh', 'Dhaka'),
 ('Bhutan', 'Thimpu')]

In [50]:
list(country.items())[0]

('Nepal', 'Kathmandu')

# Looping in dictionary

In [51]:
country={
    'Nepal':'Kathmandu',
    'India':'New DElhi',
    'Bangladesh':'Dhaka',
    'Bhutan': 'Thimpu'
}

In [52]:
for item in country:
    print(item)

Nepal
India
Bangladesh
Bhutan

In [54]:
for cou,cap in country.items():
    print(f'Country = {cou} and capital is {cap}')

Country = Nepal and capital is Kathmandu
Country = India and capital is New DElhi
Country = Bangladesh and capital is Dhaka
Country = Bhutan and capital is Thimpu

In [55]:
(1,5)

(1, 5)

In [56]:
a, b = (1, 5)

In [58]:
car = {'name':'tesla','color':'white'}

In [61]:
for a, b in car.items():
    print(f'{a} = {b}')

name = tesla
color = white

# .pop()

In [62]:
country={
    'Nepal':'Kathmandu',
    'India':'New DElhi',
    'Bangladesh':'Dhaka',
    'Bhutan': 'Thimpu'
}

In [63]:
country.pop('Bhutan')

'Thimpu'

In [64]:
country

{'Nepal': 'Kathmandu', 'India': 'New DElhi', 'Bangladesh': 'Dhaka'}

# dictionary comprehension

In [65]:
data = {'one':'1','two':'2','three':'3'}

In [66]:
data

{'one': '1', 'two': '2', 'three': '3'}

In [67]:
{val : key for key,val in data.items()}

{'1': 'one', '2': 'two', '3': 'three'}

# nested dictionary

In [71]:
child={
    'child1':{'name':'Hari','age':45,'gender':'M'},
    'child2':{'name':'Ram','student':True,'age':'18'}
}

In [72]:
child

{'child1': {'name': 'Hari', 'age': 45, 'gender': 'M'},
 'child2': {'name': 'Ram', 'student': True, 'age': '18'}}

In [74]:
child['child2']

{'name': 'Ram', 'student': True, 'age': '18'}

In [75]:
child['child2']['name']

'Ram'

In [76]:
child['child2']['age']

'18'

In [77]:
child['child2']['student']

True

In [78]:
child.get('child2').get('student')

True