In [ ]:
w = "Welcome {} to {} Nepal".format('my','country');

In [ ]:
w

In [ ]:
first_num = 60.5
print('first_num before update = {}'.format(first_num))
first_num = first_num + 1
print ('first_num after update = {}'.format(first_num))

In [ ]:
a ,b, c = 2,0.4, 2-3j

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
num1 = 3
num2 = 5

In [ ]:
num1 , num2 = num2, num1

In [ ]:
num1

In [ ]:
num2

In [ ]:
type(num1)

In [ ]:
num = int(input("enter a number: "))

if num%2 == 0:
    
    print("even")
    
else:
    
    print("odd")

In [ ]:
num = int(input('Enter a number:'))
print("wecome {}".format(num))

In [ ]:
a = input("enter your name:")
print("wecome {}".format(a))

In [ ]:
input_num = int(input('enter a number:'))

if input_num %2 == 0:
    print('The number{} is even'.format(input_num))
else:
    print('The number {} is odd'.format(input_num))

In [ ]:
num1 = input("enter a number:")
num2 = input("enter a number:")
total = num1 + num2
print(f'The sun is {total}')

In [ ]:
num =int(input("ener a number:"))

if num >=0:
    print("positive")
else:
    print("negstive")

In [ ]:
num = int(input("Enter a number:"))

if num%5 == 0:
    print("Hello")
else:
    print("Bye")

# Electricity bill

In [ ]:
num = int(input("enter the unit:"))
if num == 100:
    print("no charge")
elif num >100:
    charge = num*5
else num >200:
    charge = num *10

In [ ]:
charge

In [ ]:
num =int(input("enter a number:"))

if num <0:
    print("negative")

elif num>0:
    print("positive")
    if num % 2==0:
        Print("even")
    else:
        print("odd")

In [ ]:
s = 'shraddha'

In [ ]:
s[-1]

In [ ]:
s[1]

In [ ]:
range(0,len(s),1)

In [ ]:
s = 'shraddha'
for index in range(0,len(s),1):
    letter = s[index]
    print(f"The index is {index}and the letteris {letter}")

In [ ]:
letter

In [2]:
s = 'shraddha'
for index in range(-1,-1 ,-1):
    letter = s[index]
    print(f"The index is {index}and the letter is {letter}")

In [14]:
s = "aeyi"

for index in range(0, len(s),1):
    Letter = s[index]
    if Letter =='a' or Letter =='e' or Letter =='i' or Letter =='o' or Letter =='u':
        print(f"vowels ={Letter}")
    else:
        print(f'consonant = {Letter}')

vowels =a
vowels =e
consonant = y
vowels =i

In [12]:
text = "aeyi"
for index in range(0,len(text), 1):
    
    letter = text[index]
    if letter =="a" or letter =="i" or letter =="0" or letter =="u":
        print(f"vowel = {letter}")
    else:
        print(f"Consonant = {letter}")

vowel = a
Consonant = e
Consonant = y
vowel = i

In [15]:
s ="Shraddha Joshi"

In [16]:
s[2:5]

'rad'

In [19]:
s = "Hello"

vowel, consonant = 0,0
s=s.lower()
for index in range(len(s)):
    letter = s[index]
    if letter == "a":
        vowel = vowel +1
    elif letter =="e":
         vowel = vowel +1
    elif letter =="i":
        vowel = vowel +1
    elif letter =="o":
        vowel = vowel +1
    elif letter =="u":
        vowel = vowel +1
    else:
        consonant = consonant + 1
print(vowel)
print(consonant)

2
3

In [22]:
num = [2,4,6,8,9]
for index in range(len(num)):
    number = num[index]
    square = number **2
    print(square)

4
16
36
64
81

In [21]:
square

81

In [29]:
num = [2,4,6,8,9]

for item in num:
    square.append(item **2)
    square

In [31]:
fruit = ['APPLE','BANANA','MANGO']
[item.lower() for item in fruit]

['apple', 'banana', 'mango']

In [15]:
import sqlite3

In [16]:
con = sqlite3.connect('std.db')

In [17]:
cur= con.cursor()