# List : collection of item under one variable name

In [1]:
cars = ['Mercedes' , 'BMW' , 'Audi']

In [2]:
cars

['Mercedes', 'BMW', 'Audi']

In [3]:
type(cars)

list

# Creating empty list in python

In [4]:
empty_list = []

In [5]:
empty_list

[]

In [6]:
type(empty_list)

list

In [7]:
new_empty_list = list()  # create empty list using list() constructor

In [8]:
type(new_empty_list)

list

In [9]:
new_empty_list

[]

# list can store multiple data type

In [10]:
list = [1,1.6 , True ,"computer"]

In [11]:
list

[1, 1.6, True, 'computer']

# indexing and slicing in list

In [12]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']

In [13]:
cars

['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']

In [14]:
cars[0]

'BMW'

In [15]:
cars[5] # indexing

'Tesla'

In [17]:
cars[2:5] # slicing

['Audi', 'Nissan', 'TATA']

In [18]:
cars[2:] # slicing

['Audi', 'Nissan', 'TATA', 'Tesla']

In [19]:
type(cars[0])

str

# Negative indexing

In [20]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']

In [21]:
cars[-1]

'Tesla'

In [22]:
cars[-2]

'TATA'

In [23]:
cars[-6]

'BMW'

# Loops in python list

In [30]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']
for index in range(0,len(cars)
    print(cars[index])

SyntaxError: invalid syntax (4182600353.py, line 3)

In [34]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']
for i in range(0,6):
    print(f'the index {i} in car ',cars[i])

the index 0 in car  BMW
the index 1 in car  Mercedes
the index 2 in car  Audi
the index 3 in car  Nissan
the index 4 in car  TATA
the index 5 in car  Tesla

In [32]:
cars[0]

'BMW'

In [ ]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']
for index in range(len(cars)):
    car_name = cars[index]
    print

# alternative loop

In [36]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']
for items in cars:
    print(items)

BMW
Mercedes
Audi
Nissan
TATA
Tesla

# WAP to find mean of given list

In [58]:
num = [1,22, 1,6,2,3,11,0,9]
total = 0
for index in range(len(num)):
    
    total = total + num[index]
mean = total/len(num)

In [59]:
mean

6.111111111111111

In [60]:
sum(num)/len(num)

6.111111111111111

In [63]:
total = 0
for items in num:
    total= total + items
mean= total/len(num)

In [64]:
mean

6.111111111111111

In [ ]:
total = 0
for items in num:
    total= total + items
mean= total/len(num)

# Membership operator in python (in and not in are membership operators)

In [65]:
cars = ['BMW', 'Mercedes', 'Audi', 'Nissan', 'TATA', 'Tesla']

In [66]:
"TATA" in cars

True

In [67]:
"Fortuner"in cars

False

In [68]:
"Fortuner" not in cars

True