# tuples items are ordered, unchangeble and allow duplicate value,index immutable

In [1]:
car = ("audi", "Mercedes", "BMW")

In [2]:
type(car)

tuple

In [3]:
car[1]

'Mercedes'

In [4]:
car[-1]

'BMW'

In [6]:
car[0] = 'Tesla'# unchangeable or immutable

TypeError: 'tuple' object does not support item assignment

# Tuple are unchangeable, meaning that we cannot change , add or remove items after the tuple has been created

In [7]:
car

('audi', 'Mercedes', 'BMW')

In [8]:
car.append('tesla')

AttributeError: 'tuple' object has no attribute 'append'

# We cannot change ,add or remove items after the tuple has been created but type conversion to list can make it happen

In [10]:
car = ("audi", "Mercedes", "BMW")
car = list(car)
print(f'After type casting the data type of car is {type(car)}')
print(car)

car.append('Tesla')

car = tuple(car)
print(f'After type casting the data type of car is {type(car)}')
print(car)

After type casting the data type of car is <class 'list'>
['audi', 'Mercedes', 'BMW']
After type casting the data type of car is <class 'tuple'>
('audi', 'Mercedes', 'BMW', 'Tesla')

Loop in tuple

In [13]:
car = ("audi", "Mercedes", "BMW")
for index in range(len(car)):
    data = car[index]
    print(data)

audi
Mercedes
BMW

In [14]:
for item in car:
    print(item)

audi
Mercedes
BMW

In [15]:
car = ("audi", "Mercedes", "BMW")
for index in range(len(car)):
    data = car[index]
    print(index, data)

0 audi
1 Mercedes
2 BMW

In [16]:
for index , item in enumerate(car):
    print(index, data)

0 BMW
1 BMW
2 BMW