# Keywords in python 
* Reserverd word in python 
* used to write syntax
* you cannot use keywords as variable/ object name 
* case sensative: uppercase and lower case name are different 
* example of keywords: global, True, False, for, if , etc

In [1]:
global = 5

SyntaxError: invalid syntax (1404077010.py, line 1)

In [2]:
False ="hi"

SyntaxError: cannot assign to False (1836284728.py, line 1)

# Python are case sensitive

In [3]:
False ="hi" # upper case false is a keyword

SyntaxError: cannot assign to False (1836284728.py, line 1)

In [5]:
false = "hi" # lower case false is not a keyword

We cannot use special symbol like !,@, #, $, %, - in our identifier

In [6]:
@name = "shraddha"

SyntaxError: invalid syntax (2138378005.py, line 1)

In [7]:
$name = "shraddha"

SyntaxError: invalid syntax (3372806459.py, line 1)

In [8]:
first-name = "shraddha"

SyntaxError: cannot assign to operator (2955113262.py, line 1)

In [9]:
first name ="shraddha"

SyntaxError: invalid syntax (4214545786.py, line 1)

In [10]:
first_name = "shraddha" # underscores are allowed

In [11]:
9name = "shraddha" number agadi halna paudaina

SyntaxError: invalid syntax (940346820.py, line 1)

In [14]:
name9 = "shraddha" # paxadi no halna paiyo

In [16]:
FirstName = 'ram' #uppercase and lower case combination are allowed

# Python is case sensitive language

In [21]:
a = 5
A = 11

In [24]:
a = 55
A = 11

In [26]:
print(f"The value of a is {a}")

The value of a is 55

In [19]:
print( "The value of A is 11")

The value of A is 11